@import url('../../node_modules/bootstrap/scss/bootstrap.scss');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// font 'BoolFlix' => font-family: 'Bebas Neue', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
// font for text => font-family: 'Martel Sans', sans-serif;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    header{
        .logoTitle{
            font-family: 'Bebas Neue', sans-serif;
            color: #E50914;
        }
    }
}

input{
    outline: none;
}
